*{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
.title {
    text-align: center;
    font-family: fantasy;
    font-size: 100px;
    color: white;
    position: relative;
    z-index: 2;
    text-shadow: 0 0 20px aqua, 0 0 40px aqua;
    animation: glow 2s infinite alternate;
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px aqua, 0 0 20px aqua;
    }
    100% {
      text-shadow: 0 0 20px aqua, 0 0 40px aqua;
    }
  }
  .matchbox{
    
   margin: 50px;
    width: 100px;
    height: 90px;
    background-color: white;
    text-align: center;
    font-size: 69px;
    border-radius: 14px;
    cursor: pointer;
   
  }
  .main{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
  }
  .inner{
    background-color:white;
  }
  .score{
    color: white;
  }
  .restart{
      background-color: rgb(99, 5, 5);
      margin-left: 47%;
      width: 90px;
      font-size: larger;
      cursor: pointer;
  }